@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}

.brand img {
    width: 55px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;
}

.container {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    background-color: black;
    color: white;
    min-height: 70vh;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('bg.jpg');
    background-size: 100%;
}

.bottom {
    display: flex;
    color: white;
    position: sticky;
    flex-direction: column;
    background-color: black;
    height: 90px;
    justify-content: center;
    align-items: center;
}

#myprogressbar {
    width: 80vw;
    cursor: pointer;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
}

.songitemcontainer{
    margin-top: 90px;
}

.songitem{
    display: flex;
    height: 50px;
    width: 59%;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    
}

.songitem img{
   width: 40px;
   margin: 0 23px;
   border-radius: 34px;
}
.songlistplay{
    padding: 0 23px;
}

.songlistplay i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 9vw;
    font-family: 'Varela Round', sans-serif;
}

.songinfo img{
    width: 90px;
    opacity: 0;
    transition: 0.4s ease-in;
}